*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b1aeae;
    
    z-index: 1;
}
.container{
    z-index: 300;
    width: 350px;
    height: 650px;
    background: rgb(0, 0, 0);
    border-radius: 45px;
    transition: background 17ms;
    /* box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
}

.container input[type="text"]{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 10px 10px;
    font-size: 16px;

}
.container .inputBox{
    width:50%;
    background:rgb(163, 152, 152);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
    left:5%;
  
}

.button{
    position: relative;
    width:5px;
    background: rgb(0, 0, 0);
    border-radius: 20px;
}
.small-left{
    position:relative;
    top: 15%;
    left:-1%;  
    height: 30px;  
}


.volume{
   position: relative;
   top:20%;
   left: -1%;
   height:50px;
}
.down-left{
  margin-top: 10px;
}

.power-right{
    position: relative;
    top:10%;
    right: -99.5%;
    height:70px;
    
}
.container:hover{
    background-image: url("https://cdn.ytechb.com/wp-content/uploads/2022/09/iPhone-14-Pro-Wallpaper-Silver.webp") ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:contain;
    border:10px solid black;
    
}

.container:hover .small-left{
    position: relative;
    left: -13px;
    top:14%;
}
.container:hover .volume{
    position: relative;
    left: -13px;
    top:19%;
}
.container:hover .power-right{
    position: relative;
    right:  -102.5%;
    top:8.8%;
}
.notch{
    position: relative;
    width:100px;
    height:30px;
    background: black;
    position: relative;
    top: -32%;
    left: 115px;
    border-radius: 50px;
    transition: all 0.7s;
    z-index: 1000;
    /* color: white; */
    justify-content: space-between;
    /* pointer-events: none; */
    user-select: none;
    
}

.notch:hover{
    width:250px;
    height: 30px;
    position: relative;
    left: 40px;
    cursor: pointer;
    display: flex;
}

.fa-solid{
    width:40px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    display: none;
    /* transform: translateY(5px); */
    /* justify-content: space-between; */
}

.caller{
    /* padding-right: 20px; */
    /* float:left; */
    /* transform: translateY(7px); */
    /* margin-left: 10px; */
    position: relative;
    top:7px;
    display: none;
    height: 20px;
    /* width: 500px; */
    color: white;
    /* z-index: 10000; */
    overflow: hidden;

}

a{
    text-decoration: none;
}
.answer{
    color: green;
    /* margin-right: 15px; */
    /* margin-top: 10px; */
    
    position: relative;
    top: 20%;
    right: 15%;
}
.end{
    color: red;
    transform: rotate(135deg);
   position: relative;
   top: 25%;
   left:20%;

}

.container:not(:hover) .camera{
    position: absolute;
    top:20px;
    left: 50px;
}
.camera{
    position: absolute;
    top:5px;
    left: 40px;
    width: 20px;
    height: 20px;
    color: rgb(177, 18, 18);
    z-index: 10000;
    border: 0.1px solid rgb(19, 19, 19);
    border-radius: 50%;
    /* box-shadow: inset 1px 0.1px rgb(19, 19, 19); */
}
.notch:hover .fa-solid{
    display:block;
}
.notch:hover .caller{
    margin-left: 15px;
    height: 20px;
    letter-spacing: 1px;
    display: block;
    /* width: 100%; */
    overflow: hidden;
}
.notch:hover .camera{
    position: relative;
    top:5px;
    left: 0px;
}
/* .answer-color{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
   position: relative;
   top: 10px;
   left: -60px;
   z-index: 100;
   overflow: hidden;
   display: none;
} */
